body{
    margin-left: 560px;
    margin-right: 560px;
    font-family: sans-serif;
    background: url("grfx/bg.png");
    background-repeat: repeat-x;
}

p{
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: white;
}

.kop{
    margin: 0px;
    padding: 20px 0px 20px 20px;
    background-color: white;
}

.Bar{
    list-style-type: none;
    margin-left: 0%;
    padding: 0;
    overflow: hidden;
    width: 650px
} 

.Bar li{
    float: left;
}

.Bar li a{
    display: block;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 110px 20px 20px 20px;
    text-decoration: none;
}

.Bar li a:hover {
    color: rgb(169, 213, 212);
}

section.Header{
    display: block;
    height: 260px;
    width: 100%;
    margin: auto;
    padding: 0px;
    background-image: url("grfx/header.jpg");
    
}

#devloot{
    font-size: 45px;
    padding: 20px 0px 0px 20px;
    margin: 0px;
}

#regeren{
    margin: 0px;
    padding: 0px 0px 0px 20px;
    font-weight: normal;
}

#vloot0{
    float: left;
    padding-left: 0px;
    margin-right: 25px;
    margin-bottom: 35px;
}

#vloot1{
    float: left;
    margin-right: 10px;
    margin-bottom: 25px;
}

#vloot2{
    float: right;
    margin: 0px 0px 20px 20px;
}

#vloot3{
    float: left;
    margin-right: 20px;
}

#vloot4{
    float: left;
    margin: 0px 10px 15px 0px;
}

#vloot5{
    float: right;
}

#vloot6{
    float: left;
    margin-right: 10px;
}

#vloot7{
    float: left;
    margin-right: 10px;
}

#vloot8{
    float: left;
    height: 260px;
    width: 625px;
    margin-bottom: 20px;
}

#vloot9{
    float: right;
    height: 200px;
    width: 200px;
}

#vloot10{
    float: left;
    height: 200px;
    width: 200px;
}

#vloot11{
    float: left;
    margin: 0px 20px 20px 10px;
}

#vloot12{
    margin: 4px 4px 4px 20px;
    float: right;
}